@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#leftblock {
  padding: 30px;
  display: block;
  width: 600px;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  /*overflow: hidden;
  box-sizing: border-box;*/
}
#piechart {
  margin-left: -60px;
  padding: 90px;
  padding-top: 0;
  height: 400px;
}

#piechart2 {
  margin-left: -90px;
  padding: 90px;
  padding-top: 0;
  padding-bottom: 0;
  /*height: 400px;*/
}
#bottomChart {
  width: 500px;
  height: 200px;
}
#ideas {
  font-weight: bold;
  font-size: 72px;
  line-height: 0;
}
#repeats {
  display: inline-block;
  font-weight: bold;
  font-size: 48px;
  line-height: 0;
}
#files {
  display: inline-block;
  font-weight: bold;
  font-size: 48px;
  line-height: 0;
}
#tab {
  margin: 10px;
  padding: 2px;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  /*height: 40px;*/
  background: #fff;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
  border-radius: 22px;
  border: 1px solid #ddd;
  transition: opacity 0.25s;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #tab {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.headerButton {
  flex: none;
  color: #757575;
  background-color: white;
  font-size: 18px;
  margin: 3px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 50%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.headerButton.active {
  background-color: #666;
  transition: 0.3s;
}

.headerButton:hover {
  background-color: #ddd;
  transition: 0.3s;
}
.headerButton::after {
  content: "";
  position: absolute;
  opacity: 0;
}

.headerButton:hover::after {
  content: attr(data-title);
  opacity: 0.7;
  padding: 6px;
  border-radius: 8px;
  position: absolute;
  top: 41px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  transition-delay: 1s;
  transform: translate(-50%, 0);
}
.headerButton.active:hover {
  background-color: #444;
  transition: 0.3s;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  z-index: 0;
  margin: 3px;
  padding: 2px;
  width: calc(100% - 6px);
  border: 1px solid #ddd;
  font-family: "Fira Sans", sans-serif;
  /*position: relative;*/
  box-shadow: none;
  border-radius: 24px;
}
.mapboxgl-ctrl-geocoder--input {
  z-index: 0;
  height: 28px;
  /*padding: 0;*/
  font: inherit;
  font-family: "Fira Sans", sans-serif;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
}
.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}

.mapboxgl-popup {
  font-family: "Fira Sans", sans-serif;
  opacity: 0.95;
}

.mapboxgl-popup-content h2 {
  text-align: center;
}
#type {
  float: right;
  padding: 0px 4px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}
#iFrame {
  margin-top: 8px;
}
#move {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  padding: 6px;
  border-radius: 3px;
  font-size: 10px;
  cursor: pointer;
  background-color: transparent;
}
#move:hover {
  background: rgba(0, 0, 0, 0.1);
}
#flagContainer {
  display: flex;
  flex-wrap: wrap;
}
.flag {
  background: grey;
  display: inline-block;
  margin: 2px;
  font-size: 8px;
  padding: 2px 4px;
  line-height: 12px;
  color: white;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
}
#метрополитен {
  background: #b70e0e;
}
#мцк {
  background: #b70e0e;
}
#мцд {
  background: #b70e0e;
}
#трамваи {
  background: #b70e0e;
}
#центробеспечениямобильностипассажировцомп {
  background: #b70e0e;
}
#транспортныесредства {
  background: #203692;
}
#маршрутнаясеть {
  background: #203692;
}
#инфраструктураипересадки {
  background: #203692;
}
#организацияипереносостановокназемноготранспорта {
  background: #203692;
}
#новыйпешеходныйпереход {
  background: #08b874;
}
#обустройствотротуара {
  background: #08b874;
}
#режимработысветофора {
  background: #08b874;
}
#строительствоновогосветофора {
  background: #08b874;
}
#установкалежачегополицейскогоостровкабезопасности {
  background: #08b874;
}
#велодорожкивелополосывелопереезды {
  background: #08b874;
}
#установкавелопарковки {
  background: #08b874;
}
#изменениедорожнойразметкиизнаков {
  background: #08b874;
}
#обустройстволиквидацияпарковки {
  background: #08b874;
}
#каршеринг {
  background: #e1990e;
}
#станциипрокатавелосипедовисамокатов {
  background: #e1990e;
}

.mapboxgl-popup {
  min-width: 400px;
  min-height: 700px;
}

iFrame {
  display: none;
}
#iFrame {
  display: block;
  margin-top: 8px;
  min-height: 150px;
}
.mainflag {
  display: inline-block;
  background: white;
  display: inline-block;
  margin: 2px;
  /*margin-left: 8px;*/
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  line-height: 12px;
  color: white;
  max-width: 200px;

  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  border-radius: 4px;
}

#Рельсовый_транспорт {
  /*background: #b70e0e;*/
  border: 1px solid #b70e0e;
  color: #b70e0e;
}

#Наземный_транспорт {
  border: 1px solid #203692;
  color: #203692;
}

#Дорожное_движение {
  border: 1px solid #08b874;
  color: #08b874;
}

#Краткосрочные_сервисы_аренды {
  border: 1px solid #e1990e;
  color: #e1990e;
}
h2 {
  display: inline-block;
  font-weight: normal;
}
h4 {
  display: inline-block;
}
.filesButton {
  margin-top: 2px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid grey;
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: gray;
}
